/* font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
:root{
    --logo-color: #95E1D3;
    --hover-color: #F38181;
    --title-color: #333;
    --text-color: #B6B6B6;
    --background-color: #FFF;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.conteiner{
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    padding-top: 17px;
}
.header-logo{
    font-size: 30px;
    font-weight: 700;
    color: var(--logo-color);
}
.navigation-link{
    color: var(--logo-color);
}
.navigation-link:hover,
.navigation-link:focus{
    color: var(--hover-color);
}
.name{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    text-align: center;
    color: var(--title-color);
    margin-bottom: 20px;
}
.title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-variant: all-small-caps;
    margin-top:20px;
    margin-bottom: 38px;
    color: var(--title-color);
}
.img{
    width: 37px;
    height: 37px;
}
.service-title{
    font-size: 14px;
    font-weight: 400;
    color: var(--title-color);
    font-variant: small-caps;
    margin-bottom: 20px;
}
.service-name{
    font-weight: 15px;
    line-height: 147%;
    color: #B6B6B6;
}
.team-text{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
}
.team-item{
    width: 380px;
}
.team-name{
    font-size: 14px;
    font-weight: 400;
    color: var(--title-color);
    text-align: center;
    font-variant:  all-small-caps;
    margin-bottom: 11px;
}
.team-position{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    color: var(--text-color);
    text-align: center;
}
.footer{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top:1px solid var(--text-color);
}
.footer-text{
    font-size: 14px;
    color: var(--title-color);
}
.footer-link{
    color: var(--hover-color);
}
.footer-input{
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    padding: 12px 145px 11px 10px;
    border: 1px solid var(--text-color);
}
.footer-button{
    color: var(--background-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-variant: all-small-caps;
    background-color: var(--logo-color);
    padding: 11px 38px 12px 38px;
    border: none;
    margin-left: -4px;
    cursor: pointer;
}
.navigation-list{
    display: flex;
}
.navigation-item{
    margin-left: 55px;
}
.header-wrap{
    display: flex;
justify-content: space-between;
align-items: center;
}
.service-list{
    display: flex;
    flex-wrap: wrap;justify-content: space-between;
}
.service-item{
    width: 335px;
    margin-bottom: 100px;
    display: flex;

}
.service-img{
    width: 37px;
    height: 37px;
    margin-right: 18px;
}
.team-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.team-img{
    margin-top: 27px;
    margin-bottom: 30px;
}
.team-position{
    margin-bottom: 80px;
}
.footer-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service{
    padding-top: 68px;
}
.current:hover:after{
    content: "";
   background-color: #F38181;
   height: 3px;
   width: 100%;
   display: inline-block;
}
.current::after{
    content: "";
    background-color: var(--logo-color);
    height: 3px;
    width: 100%;
    display: inline-block;
}
.title::after{
    content: "";
    width: 60px;
height: 4px;
background-color: #F38181;
display: block;
margin: 40px auto;
}